.menus{
 background-color: $lightergrey;
 margin-bottom: 3rem;
 
  h2{
    margin-bottom: 2rem;
    font-family: 'roboto', sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
    
   & .menus_cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
       @media (max-width:1000px){
        grid-template-columns: repeat(1,2fr);
       }
       & .new{
        position: relative;
    &::before{
        content: "Nouveau";
        position: absolute;
        height: 2rem;
        width: 6rem;
        color: #045e47;    
        background-color: #99e2D0;
        display: grid;
        place-items: center;
        right: 1rem;
        top: 1rem;
        font-family: 'roboto', sans-serif;
    }   
    }
       
    }
    & .card{
    & .card_image{
        height: 20rem;
        background-size: cover;
        border-radius: 2rem 2rem 0 0;
    }
    &_image-1{
        background-image: url(/images/restaurants/la-palette-du-gout.jpg)

    }
    &_image-2{
        background-image: url(/images/restaurants/la-note-enchantee.jpg);
        background-size: cover;
    }
    &_image-3{
        background-image: url(/images/restaurants/a-la-francaise.jpg);
        background-size: cover;
    }
    &_image-4{
        background-image: url(/images/restaurants/le-delice-des-sens.jpg);
        background-size: cover;
    }
    & .card_description{
        position: relative;
        background-color: white;
        height: 5rem;
        margin-top: -2rem;
        position: relative;
        border-radius: 0 0 15px 15px;
        font-family: 'roboto', sans-serif;
        
        h3{
            margin: 0 1rem ;
            &::first-letter {
        text-transform: capitalize;
        }
        }
        p{
            font-family: 'roboto', sans-serif;
            margin-left: 1rem;
  
        }
        i{
            @include fill-in-heart;
            margin-top: -4rem;
            
        }
        }
    
    }
    footer{
       @include footer;
    }

    }

 

