/***typography, box-sizing***/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

main {
  padding: 0.7rem;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.2rem;
  position: relative;
}

.location {
  background-color: lightgray;
  text-align: center;
  padding: 16px;
  font-family: "roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.location i {
  font-size: 25px;
}

.descrition-explore {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.descrition-explore h2 {
  margin-top: 32px;
  font-size: 32px;
  font-weight: bold;
}
.descrition-explore p {
  font-size: 16px;
}
.descrition-explore button {
  display: flex;
  width: 200px;
  border-radius: 20px;
  border: none;
  padding: 20px;
  height: 50px;
  margin: auto;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  transform: scale(1.2);
  transition: 0.5s;
  background-color: hsl(288deg, 87%, 96%);
}
.descrition-explore button:hover {
  background-image: linear-gradient(to left, #ab74f0, #c168eb, #dc77e7, #fa81ee, #f89dde);
  transition: 0.7s;
}

/***variables, functions mixins**/
@keyframes quarter-spin {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes fadein {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.menus {
  background-color: #F6F6F6;
  margin-bottom: 3rem;
}
.menus h2 {
  margin-bottom: 2rem;
  font-family: "roboto", sans-serif;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.menus .menus_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (max-width: 1000px) {
  .menus .menus_cards {
    grid-template-columns: repeat(1, 2fr);
  }
}
.menus .menus_cards .new {
  position: relative;
}
.menus .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 6rem;
  color: #045e47;
  background-color: #99e2D0;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  font-family: "roboto", sans-serif;
}
.menus .card .card_image {
  height: 20rem;
  background-size: cover;
  border-radius: 2rem 2rem 0 0;
}
.menus .card_image-1 {
  background-image: url(/images/restaurants/la-palette-du-gout.jpg);
}
.menus .card_image-2 {
  background-image: url(/images/restaurants/la-note-enchantee.jpg);
  background-size: cover;
}
.menus .card_image-3 {
  background-image: url(/images/restaurants/a-la-francaise.jpg);
  background-size: cover;
}
.menus .card_image-4 {
  background-image: url(/images/restaurants/le-delice-des-sens.jpg);
  background-size: cover;
}
.menus .card .card_description {
  position: relative;
  background-color: white;
  height: 5rem;
  margin-top: -2rem;
  position: relative;
  border-radius: 0 0 15px 15px;
  font-family: "roboto", sans-serif;
}
.menus .card .card_description h3 {
  margin: 0 1rem;
}
.menus .card .card_description h3::first-letter {
  text-transform: capitalize;
}
.menus .card .card_description p {
  font-family: "roboto", sans-serif;
  margin-left: 1rem;
}
.menus .card .card_description i {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  text-align: center;
  margin-top: -4rem;
}
.menus .card .card_description i:hover:before {
  transition: all 0.5s ease-in-out;
  -webkit-background-clip: text;
  font-weight: 900;
  background-image: linear-gradient(to left, #ab74f0, #c168eb, #dc77e7, #fa81ee, #f89dde);
  -webkit-text-fill-color: transparent;
}
.menus footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  font-size: 100%;
  padding: 25px;
  color: white;
  width: 100%;
}

.restaurant__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 4px 6px #aaa;
  margin-top: 0;
}
.restaurant__header .back-arrow {
  position: absolute;
  left: 20px;
}
.restaurant__header i {
  font-weight: 900;
}
.restaurant__header h1 {
  font-family: "shrikhand", "roboto", sans-serif;
}

.restaurant__main {
  /*padding: 2rem;*/
  background-color: #F6F6F6;
}
.restaurant__main .restaurant__img img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.restaurant__main hr {
  width: 40px;
  border: 1px solid #99e2D0;
  margin-left: 3px;
  margin-top: 0;
  font-weight: bold;
}
.restaurant__main .restaurant__title {
  border: none;
  border-radius: 30px 30px 0 0;
  display: flex;
  margin-top: -2rem;
  border-radius: 15px 15px 0 0;
  position: relative;
  background-color: #F6F6F6;
  font-family: "shrikhand", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.restaurant__main .restaurant__title i {
  margin-top: -1rem;
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  text-align: center;
}
.restaurant__main .restaurant__title i:hover:before {
  transition: all 0.5s ease-in-out;
  -webkit-background-clip: text;
  font-weight: 900;
  background-image: linear-gradient(to left, #ab74f0, #c168eb, #dc77e7, #fa81ee, #f89dde);
  -webkit-text-fill-color: transparent;
}
.restaurant__main .orders {
  display: grid;
  gap: 2rem;
  margin-left: 2rem;
  grid-template-columns: repeat(3, 1fr);
  font-family: "roboto", sans-serif;
}
@media (max-width: 1200px) {
  .restaurant__main .orders {
    grid-template-columns: 1fr;
  }
}
.restaurant__main .orders h3 {
  text-transform: uppercase;
  margin-top: 2rem;
}
.restaurant__main .orders .orders__category {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 16px;
  cursor: pointer;
  box-shadow: 4px 4px 6px #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 82%;
}
.restaurant__main .orders .orders__category:hover .check-mark {
  margin-right: 0rem;
  margin-left: 3rem;
  opacity: 1;
  transition: transform 330ms ease-in;
}
.restaurant__main .orders .orders__category:hover .fa-check-circle {
  color: white;
  animation: 0.3s quarter-spin ease-in-out;
}
.restaurant__main .delay-1 {
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.restaurant__main .delay-2 {
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0.3s;
}
.restaurant__main .delay-3 {
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0.4s;
}
.restaurant__main .orders-item {
  display: flex;
}
.restaurant__main .orders-item h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant__main .orders-item h4::first-letter {
  text-transform: capitalize;
}
.restaurant__main .orders-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}
.restaurant__main .orders-item p::first-letter {
  text-transform: capitalize;
}
.restaurant__main .orders-item .order-item__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: bold;
  padding: 1rem;
  margin-right: -1rem;
}
.restaurant__main .orders-item .check-mark {
  display: grid;
  place-items: center;
  background-color: #99e2D0;
  opacity: 0;
  width: 50px;
  border: none;
  border-radius: 0 15px 15px 0;
}
.restaurant__main .orders-item .orders-item__description {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  font-size: 100%;
  padding: 25px;
  color: white;
  width: 100%;
}

/**SECTION FONCTIONNEMENT***/
.fonctionnement {
  counter-reset: steps;
}
.fonctionnement ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
}
@media (max-width: 800px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  list-style: none;
  border: none;
  border-radius: 25px;
  width: 300px;
  padding: 16px;
  box-shadow: 4px 4px 6px #aaa;
  background-color: #f6f6f6;
  color: black;
  font-family: "roboto", sans-serif;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #9356dc;
  color: white;
  padding: 15px;
  border-radius: 60%;
  font-family: "robot,sans-serif";
  margin-left: -40px;
}
.fonctionnement li:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background-color: hsl(288deg, 87%, 96%);
}
.fonctionnement a {
  text-decoration: none;
}
.fonctionnement i {
  padding: 1rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: black;
  position: fixed;
  height: 100vh;
  z-index: 1;
  inset: 0;
  opacity: 0.8;
  display: grid;
  place-items: center;
  animation: loading 0s 2s forwards;
}

.ring {
  width: 200px;
  height: 200px;
  border: 3px solid;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: #9356DC;
  animation: rotate1 2s linear infinite;
}

.ring:nth-child(2) {
  border-right-width: 8px;
  border-color: #ff79DA;
  animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
  border-top-width: 8px;
  border-color: #99e2D0;
  animation: rotate3 2s linear infinite;
}

.loading {
  color: white;
  text-transform: uppercase;
  font-family: shrikhand;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
