.restaurant__header {
    @include menu-header;
    & .back-arrow {
   @include arrow;
}
    & i{
        font-weight: 900;
    }
   & h1{
    font-family: "shrikhand", "roboto", sans-serif;
}

}

.restaurant__main{
  /*padding: 2rem;*/
  background-color: $lightergrey;
    &  .restaurant__img img{
        @include restaurant-img;
    }
    & hr{
        @include hr
    }
   & .restaurant__title
   {@include retaurant-title;
    & i{
        margin-top:-1rem;
        @include fill-in-heart;  
    }
}

& .orders{
    @include orders;

& h3{
        text-transform: uppercase;
        margin-top: 2rem;
 
    }

& .orders__category{
    @include orders-category;
    @include overflow;
        width: 82%;
        }
    }

& .delay-1{
 animation-name: fadein;
 animation-duration: 1s;
 animation-delay: 0.2s;
}
& .delay-2{
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.3s;
 
}
 & .delay-3{
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.4s;
 
}

& .orders-item{
        display: flex;
        & h4{
            @include overflow;
            &::first-letter {
                text-transform: capitalize;
                }
        }
       & p{
       @include overflow;
       font-weight: normal;
       &::first-letter {
        text-transform: capitalize;
        }

       }
        & .order-item__price{
            @include price
         }
        & .check-mark{
          @include check-mark;
         }
       & .orders-item__description{
         padding: 1rem;
         @include overflow;
         }
         
    }
        }
    
       
     


footer
{
 @include footer;
}















