.restaurant__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:$base-shadow;
    margin-top:0 ;
    & .back-arrow {
    position: absolute;
    left: 20px;
}
    & i{
        font-weight: 900;
    }
   & h1{
    font-family: "shrikhand", "roboto", sans-serif;
}

}

.restaurant__main{
  padding: 2rem;
  background-color: $lightergrey;
    &  .restaurant__img img{
        object-fit: cover;
        width: 100%;
        height: 400px;
    }
    & hr{
        @include hr
    }
   & .restaurant__title
   {@include retaurant-title;
    & i{
        margin-top:-1rem;
        @include fill-in-heart;  
    }
}

& .orders{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    font-family: "roboto", sans-serif;
    @media (max-width:1200px){
        grid-template-columns: 1fr;   
    }

& h3{
        text-transform: uppercase;
        margin-top: 2rem;
 
    }

& .orders__category{
        @include orders-category;
        overflow: hidden;
        border: none;
        width: 90%;
    }
& .orders-item{
        display: flex;
        & h4{
            @include overflow;
        }
       & p{
       @include overflow;
       font-weight: normal;
       &::first-letter {
        text-transform: capitalize;
        }

       }
        & .order-item__price{
            display: flex;
            align-items: flex-end;
            margin-left: auto;
            font-weight: bold;
            padding: 1rem;
            margin-right: -1rem;
         }
        & .check-mark{
          @include check-mark;
         }
       & .orders-item__description{
         padding: 1rem;
         @include overflow;
         }
        }
       
    }

}
footer{
 @include footer;}














