.restaurant__header {
    @include menu-header;
    & .back-arrow {
   @include arrow;
}
    & i{
        font-weight: 900;
    }
   & h1{
    font-family: "shrikhand", "roboto", sans-serif;
}

}

.restaurant__main{
  padding: 2rem;
  background-color: $lightergrey;
    &  .restaurant__img img{
        @include restaurant-img;
    }
    & hr{
        @include hr
    }
   & .restaurant__title
   {@include retaurant-title;
    & i{
        margin-top:-1rem;
        @include fill-in-heart;  
    }
}

& .orders{
    @include orders;

& h3{
        text-transform: uppercase;
        margin-top: 2rem;
 
    }

& .orders__category{
    @include orders-category;
    @include overflow;
        width: 82%;
        }
    }
& .entrees{
    animation:  fadein 2s ease-in-out 1.5s;
}
& .plats{
    animation: fadein 4s ease-in-out 2s;
}
& .desserts{
    animation: fadein 6s ease-in-out 3s;
}
& .orders-item{
        display: flex;
        & h4{
            @include overflow;
        }
       & p{
       @include overflow;
       font-weight: normal;
       &::first-letter {
        text-transform: capitalize;
        }

       }
        & .order-item__price{
            display: flex;
            align-items: flex-end;
            margin-left: auto;
            font-weight: bold;
            padding: 1rem;
            margin-right: -1rem;
         }
        & .check-mark{
          @include check-mark;
         }
       & .orders-item__description{
         padding: 1rem;
         @include overflow;
         }
         
    }
        }
    
       
     


footer
{
 @include footer;
}















