@keyframes quarter-spin{
    0% {
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes fadein{
    0%{
        transform: translateY(50%);
        opacity: 0;
        
    }
    100%{
        opacity: 1;
       transform: translateY(0);
    }
}

@keyframes rotate1{
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate2{
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
    }
}
@keyframes rotate3{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
@keyframes  loading{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}